/* form {
  background: #021725;
} */
.form-group .form-control {

  background: none !important;
  border-top: #ffcc33 1px solid !important;
  border-left: #ffcc33 1px solid !important;
  border-bottom: #ffcc33 3px solid !important;
  border-right: #ffcc33 3px solid !important;
  border-radius: 2px !important;
  color: #ffcc33 !important;
  margin-top: 10px;
}
