.background{
    background-color: lightblue;
}
/* .mt-0{
    background-color: #000;
    
} */
#formBasicEmail, #formBasicPassword{
    margin-left: 20px;
    width: 450px;
    border: 2px solid #000;
}
.btn-primary {
    margin-left: 20px;
    width: 450px;
    color: #fff;
    background-color: #813AFE !important;
    border-color: #813AFE !important;
}
.icon-img{
    width: 250px;
    height: 250px;
    margin-bottom: 0.5rem;
    margin-left: 125px;
}
.reset{
    margin-left: 20px;
    color: white;
}

.back{
    width:550px;
    height: 550px;
    margin-right: 30px;
    margin-top: 50px;
    margin-left: 150px;
}

.title{
    color: #fff;
    font-weight: 600;
}
